 html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #7d4233; 
    display:flex;
    align-items: flex-end;
    justify-content:space-between;
    padding-bottom: 15px;
}

body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.nav-buttons a {
    background-color: #ffd390;
    color: #7d4233;
    border: none;
    text-decoration: none;
    padding: 5px 30px;
    margin-left: 5px;
    font-size: 22px;
    letter-spacing: 2px;
    border-radius: 500px;
    text-align: center;
}

.nav-buttons {
    margin-left: 50px;
    margin-bottom: 15px;
}

.nav-buttons a:hover {
    background-color: #ffe3b8;
}

.top {
    background-image:url(logo_files/width_2400);
    background-size: cover;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-size: 110px;
    text-align: center;
    color:#ffe3b8 ;
    text-shadow: 2px 2px 5px black;
    font-weight:bolder;
    font-family:serif;
    margin-top: 30px;
}

.logo img {
    height: 98px;
    position:relative;
}

.ampon img {
    height: 90px;
    position: relative;
    margin-top: 15px;
}

.mission {
    background-image: url("images/s2.png");
    background-size:cover;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: top;
    width:1370px;
    height: 120vh;
}

.pups img {
    height: 100px;
    margin-top: 60px;
    margin-left: 35px;
    margin-bottom: 0;
    position: relative;
}

.pups-bg {
   position: relative;
   background-color: #ffe3b8;
   width: 200px;
   height: 200px;
   border-radius: 20px;
   margin-top: -90px;
   margin-left: 430px;
   margin-bottom: 0;
   box-shadow: 15px 15px #B36D50;
}

.kitties img {
    height: 100px;
    margin-top: 60px;
    margin-left: 39px;
    margin-bottom: 0;
}


.kitties-bg {
   background-color: #ffe3b8;
   width: 200px;
   height: 200px;
   border-radius: 20px;
   margin-top: -200px;
   margin-left: 680px;
   margin-bottom: 0;
   box-shadow: 15px 15px #B36D50;
}

.h3-pups {
    text-decoration: none;
    color: #452829;
    margin-top: -150px;
    font-size: 30px;
    text-align: center;
    font-family: serif;
    font-weight: lighter;
    letter-spacing: 3px;
    position: relative;
}

.h3-kitties {
    text-decoration: none;
    color: #452829;
    margin-top: -150px;
    font-size: 30px;
    text-align: center;
    font-family: serif;
    font-weight: lighter;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

.heart {
    font-size: 38px;
    color: #7d4233;
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
    justify-self: center;
}

.heart-bg {
     background-color: #f1cba8;
     border-radius: 150px;
     width: 60px;
     display:inline-flex;
     margin-left: 25px;
     margin-top: 10px;
     height: 53px;
}

.mision {
    font-size: 18px ;
    display:flexbox;
    padding-left: 98px;
    font-family:Arial, Helvetica, sans-serif;
    color: #452829;
}

.cart img {
   height: 80px;
   margin-left: -85px;
   margin-top: -100px;
   margin-bottom: 5px;
}

.cart-bg {
     background-color: #f1cba8;
     border-radius: 150px;
     width: 60px;
     display:inline-block;
     margin-left: -73px;
     margin-top: 30px;
     height: 53px;
}

.h1 {
    margin: 0;
    margin-top: -50px;
}

.p {
  margin-top: 0px;
  font-size: 23px;
  line-height: 40px;
}

.h1-2 {
    margin: 0;
    margin-top: -70px;
}

.p2 {
  margin-top: 0px;
  font-size: 23px;
  line-height: 40px;
}

.hta {
    background-image: url("images/section3.png");
    background-size:cover;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    height: 230vh;
}

.hta-h1 {
    font-family:serif;
    font-size: 60px;
    color: white;
    background-color: #7d4233;
    border-radius: 20px;
    text-align: center;
    width: 690px;
    margin-left: 330px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxes {
    justify-content: space-between;
    align-items: center;
    margin-left: 40px ;
}

.box {
    background-color: white;
    width: 370px;
    height: 400px;
    border-radius: 10px;
    margin-left: 830px;
    border: 7px solid #7d4233;
}

.p-box {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
    line-height: 30px;
    font-size: 18px;
    margin-top: -15px;
    letter-spacing: 1px;
}

.houz img {
    height: 120px;
    margin-left: 120px;
    margin-top: 20px;
}


.h3-box {
    text-align: center;
    font-family: sans-serif;
    color: #452829;
    margin-top: 20px;
    font-size: 28px;
    font-weight:700;
    letter-spacing: 1px;
}


.box2 {
    background-color: white;
    width: 370px;
    height: 400px;
    border-radius: 10px;
    margin-left: 430px;
    margin-top: -414px;
    border: 7px solid #7d4233;
}

.h3-box2 {
    text-align: center;
    font-family: sans-serif;
    color: #452829;
    margin-top: 15px;
    font-size: 28px;
    font-weight:700;
    letter-spacing: 1px;
}

.p-box2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 45px;
    line-height: 30px;
    font-size: 18px;
    margin-top: -25px;
    letter-spacing: 1px;
}

.tel img {
    height: 120px;
    margin-left: 125px;
    margin-top: 20px;
}

.box3 {
    background-color: white;
    width: 370px;
    height: 400px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: -414px;
    border: 7px solid #7d4233;
}

.p-box3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
    line-height: 30px;
    font-size: 18px;
    margin-top: -25px;
    letter-spacing: 1px;
}

.mg img {
    height: 120px;
    margin-left: 135px;
    margin-top: 20px;
}

.infos {
    background-color: white;
    width: 750px;
    height: 450px;
    border-radius: 10px;
    border: 7px solid #7d4233;
    margin-top: 150px;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.info-bg {
    background-color: #623324;
    width: 250px;
    height: 80px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-right: 0;
}

.info-bg2 {
    background-color: #623324;
    width: 320px;
    height: 80px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-right: 0;
}

.info-bg3 {
    background-color: #623324;
    width: 250px;
    height: 80px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-right: 0;
}

.h3-info {
    font-family: serif;
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;
}


.h3-info2 {
    font-family: serif;
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}

.infobutton {
    background-color: #f1cba8;
    width: 150px;
    height: 30px;
    border-radius: 13px;
    margin-left: 110px;
    margin-top: -8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size:20px;
    font-weight: 900;
    outline: 2px solid #B36D50;
    outline-offset: 2px;
}

.infobutton:hover {
    background-color: #ffe3b8;
}

.h3-info3 {
    font-family: serif;
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 0;
}

.p-info {
    font-family: Arial, Helvetica, sans-serif;
    color: #2e1a1b;
    font-size: 19px;
    margin-left: 200px;
    padding: 0;
    margin-top: -80px; 
    margin-left: 285px;
    line-height: 30px;
    letter-spacing: 1px;
}

.p-info2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2e1a1b;
    font-size: 19px;
    margin-left: 400px;
    padding: 0;
    margin-top: -80px; 
    margin-left: 550px;
    line-height: 30px;
    letter-spacing: 1px;
}

.p-info2-2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2e1a1b;
    font-size: 20px;
    margin-left: 200px;
    padding: 0;
    margin-top: -105px; 
    margin-left: 360px;
    line-height: 30px;
    letter-spacing: 1px;
}

.p-info3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2e1a1b;
    font-size: 24px;
    margin-left: 200px;
    padding: 0;
    margin-top: -70px; 
    margin-left: 285px;
    line-height: 30px;
    letter-spacing: 1px;
}

.pin img {
    height: 210px;
    margin-left: 980px;
    margin-top: -1000px;
    margin-bottom: 350px;
    transform: rotate(-37deg);
    padding: 0;
    display:none
}

.footer {
    background-color: white; 
    display:flex;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    height:40px;
    text-align: center;
    letter-spacing: 1px;
    justify-self: center;
}


