 html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #7d4233; 
    display:flex;
    align-items: flex-end;
    justify-content:space-between;
    padding-bottom: 15px;
}

body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.nav-buttons a {
    background-color: #ffd390;
    color: #7d4233;
    border: none;
    text-decoration: none;
    padding: 5px 30px;
    margin-left: 5px;
    font-size: 22px;
    letter-spacing: 2px;
    border-radius: 500px;
    text-align: center;
}

.nav-buttons {
    margin-left: 50px;
    margin-bottom: 15px;
}

.cross {
    height: 100px;
    margin-right: 30px;
    position:relative;
}

.nav-buttons a:hover {
    background-color: #ffe3b8;
}

.top {
    background-image:url(images/dogcattop.jpg);
    background-size: cover;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-size: 130px;
    text-align: center;
    color: white;
    text-shadow: 10px 8px 8px black;
    font-weight:bolder;
    font-family:serif;
    margin-top: 30px;
}

.s2 {
    background-image: url("images/tts2.png");
    background-size:cover;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: top;
    width:1370px;
    height: 300vh;
}

.tiptops {
    background-color: #FFF3C7;
    height: 180px;
    width: 900px;
    border-radius: 35px;
    box-shadow: 10px 15px #B36D50;
    margin-top: -170px;
    margin-left: 205px;
}

.tt-h3 {
    color: #7d4233;
    font-size: 89px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;
    margin-bottom: 0;
    padding-top: 38px;
    -webkit-text-stroke:7px #7d4233;
    letter-spacing: 8px;
}


.pups img {
    height: 200px;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 0;
    position: relative;
}

.pups-bg {
   position: relative;
   background-color: white;
   width: 450px;
   height: 420px;
   border-radius: 20px;
   margin-top: -200px;
   margin-left: 150px;
   margin-bottom: 0;
   box-shadow: 15px 15px #B36D50;
}

.kitties img {
    height: 200px;
    margin-top: 40px;
    margin-left: 105px;
    margin-bottom: 0;
}


.kitties-bg {
   background-color: white;
   width: 450px;
   height: 420px;
   border-radius: 20px;
   margin-top: -416px;
   margin-left: 700px;
   margin-bottom: 0;
   box-shadow: 15px 15px #B36D50;
}

.h3-pups {
    text-decoration: none;
    color: #7d4233;
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    position: relative;
}

.h3-kitties {
    text-decoration: none;
    color: #7d4233;
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

.button {
    margin-top: 300px;
}

.pt-h3 {
    font-size: 140px;
    color: white;
    margin-top: -1070px;
    margin-left: 60px;
    margin-right: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 3px white;
    text-shadow: 10px 6px 1px #452829; 
       
}

.ptimg img {
    height: 200px;
    margin-left: 490px;
    position: relative;
    margin-top: -800px;
    margin-bottom: 140px;
}

.box {
    justify-content:space-between;
    align-content: center;
}

.box1 {
    background-color: #FFF3C7;
    height: 600px;
    width: 550px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: -100px;
    border: 10px solid #DE955D;
    box-shadow: 15px 15px #452829;
}

.box1-p {
    font-size: 40px;
    color: #7d4233;
    margin-left: 27px;
    margin-top: 35px;
    letter-spacing: 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: light;
    text-shadow: 1px 2px 0px #999595;
}

.box2 {
    background-color: #FFF3C7;
    height: 600px;
    width: 600px;
    border-radius: 20px;
    margin-left: 670px;
    margin-top: -616px;
    border: 10px solid #DE955D;
    box-shadow: 15px 15px #452829;
}

.box3 {
    background-color: #FFF3C7;
    height: 160px;
    width: 800px;
    border-radius: 20px;
    margin-left: 248px;
    margin-top: 70px;
    border: 10px solid #DE955D;
    box-shadow: 15px 15px #452829;
}

.Kt-h3 {
    font-size: 140px;
    color: white;
    margin-top: 200px;
    margin-left: 60px;
    margin-right: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 3px white;
    text-shadow: 10px 6px 1px #452829; 
    letter-spacing: 8px;
}

.ktimg img {
    height: 200px;
    margin-left: 680px;
    position: relative;
    margin-top: -320px;
    margin-bottom: 140px;
}

.s3 {
    background-image: url("images/tts2.png");
    background-size:cover;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: top;
    width:1370px;
    height: 200vh;
}
 
.box4 {
    background-color: #FFF3C7;
    height: 670px;
    width: 550px;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: -97px;
    border: 10px solid #DE955D;
    box-shadow: 15px 15px #452829;
}

.box5 {
    background-color: #FFF3C7;
    height: 600px;
    width: 550px;
    border-radius: 20px;
    margin-left: 680px;
    margin-top: -690px;
    border: 10px solid #DE955D;
    box-shadow: 15px 15px #452829;
}